*{
    margin: 5px;
    border-radius: 3px;
}
header{
    background-color: rgb(13, 71, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family:Comic Sans, cursive;
    
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
aside{
    grid-column: 1/2;
    background-color: rgb(182, 230, 230);
}
section{
    grid-column: 2/5;
    background-color: rgb(182, 230, 230);
}

footer{
    text-align: center;
    background-color: rgb(9, 45, 49);
    color: white;
    padding: 10px;
}
.justificado{
    text-align: justify;
}
.centrado{
    text-align: center;
}

/*  sección de estilos para el menú*/

.menu {
    display: flex;
}
nav ul {
    list-style: none;
    padding: 5px;
    color: rgb(34, 32, 32);
    background: rgb(255, 255, 255);
}
.menu li {
    width: 100%;
    text-align: center;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:rgba(80, 32, 211, 0.555);
    height: 25px;
    text-decoration: none;
}

.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: block;
}
.menu a:hover {
    background:rgba(31, 201, 178, 0.616);
    color: #fff;

}



@media (max-width: 500px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
    header{
        flex-direction: column;/* coloca los elementos verticales. */
        align-items: flex-start;
        
    }
}
